h1 {
    text-align: center;
}

html {
    background-color: rgb(253, 106, 106);
}

img {
    height: 400px;
    width: auto;
}
h2 a {
    color: black;
}
.divclass {
    font-size: x-large;
}
footer a {
    color: black;
}